@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.outer {
	position: relative;
	height: 100vh;

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		background: var(--color-black);
		mix-blend-mode: normal;
		opacity: 0.4;
	}
}

.section {
	@include grid-xs;
	padding-top: getSpacing(4);
	padding-bottom: getSpacing(4);
	height: 100%;
	align-content: center;
}

.container,
.modal,
.header,
.summary,
.total {
	@include flex-center(column);
	width: 100%;
}

.container {
	grid-column: 1 / -1;
	gap: getSpacing(4);
	padding: getSpacing(4);
	border-radius: getRadius("s");
	color: var(--color-black);
	background: var(--color-white);
	position: relative;
	z-index: 1;
	height: fit-content;
}

.modal {
	gap: getSpacing(3);
}

.header {
	align-items: flex-start;
	gap: getSpacing(3);
}

.heading {
	@include flex-center(row);

	& > * {
		@include text-heading-xs;
	}
}

.description {
	@include text-body;
	opacity: 0.5;
}

.summary {
	border-radius: getRadius("s");
	background: var(--color-gray);
}

.items {
	padding: getSpacing(3);
	width: 100%;
}

.total {
	width: 100%;
	align-items: flex-start;
	gap: getSpacing(2);
	padding: getSpacing(3);
	border-radius: 0 0 getRadius("s") getRadius("s");
	background: var(--color-black);
}

.label {
	@include text-body--uppercase;
	color: var(--color-white);
	opacity: 0.5;
}

.price {
	@include text-heading-xs;
	color: var(--color-white);
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

@include media("md") {
	.section {
		@include grid-md;
		padding-top: getSpacing(4);
		padding-bottom: getSpacing(4);
	}

	.container {
		grid-column: 3 / -3;
		padding: getSpacing(6);
	}

	.modal {
		gap: getSpacing(6);
	}

	.summary {
		flex-direction: row;
		align-items: stretch;
	}

	.items {
		width: 60%;
	}

	.total {
		width: 40%;
		justify-content: flex-end;
		border-radius: 0 getRadius("s") getRadius("s") 0;
		padding: getSpacing(3) getSpacing(3) getSpacing(4) getSpacing(3);
	}
}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

@include media("lg") {
	.section {
		@include grid-lg;
		padding-top: getSpacing(4);
		padding-bottom: getSpacing(4);
	}
}
