// @use "../../styles/utils" as *;
// @use "../../styles/typography" as *;

// .container {
// 	@include grid-xs;
// 	padding-top: getSpacing(2);
// 	padding-bottom: getSpacing(2);
// }

// // ------------------------------------------------------------
// //  MD
// // ------------------------------------------------------------

// @include media("md") {
// 	.container {
// 		@include grid-md;
// 		padding-top: getSpacing(2);
// 		padding-bottom: getSpacing(2);
// 	}
// }

// // ------------------------------------------------------------
// //  LG
// // ------------------------------------------------------------

// @include media("lg") {
// 	.container {
// 		@include grid-lg;
// 		padding-top: getSpacing(2);
// 		padding-bottom: getSpacing(2);
// 	}
// }
