:root {
	--color-orange: #D87D4A;
	--color-orange-light: #FBAF85;
	--color-black: #000000;
	--color-black-light: #101010;
	--color-gray-dark: #4C4C4C;
	--color-gray: #F1F1F1;
	--color-gray-light: #FAFAFA;
	--color-white: #FFFFFF;
}
