@mixin text-heading-xxl {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 3.5rem;
	line-height: 3.625rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@mixin text-heading-xl {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 2.75rem;
	letter-spacing: 1.5px;
	text-transform: uppercase;
}

@mixin text-heading-l {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.25rem;
	letter-spacing: 1.15px;
	text-transform: uppercase;
}

@mixin text-heading-m {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 1.75rem;
	line-height: 2.375rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@mixin text-heading-s {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 2.0625rem;
	letter-spacing: 1.7px;
	text-transform: uppercase;
}

@mixin text-heading-xs {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.5rem;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

@mixin text-heading-xxs {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1.5rem;
	letter-spacing: 1.3px;
	text-transform: uppercase;
}

@mixin text-overline {
	font-family: Manrope-Regular, sans-serif;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1875rem;
	letter-spacing: 10px;
	text-transform: uppercase;
}

@mixin text-label {
	font-family: Manrope-Bold, sans-serif;
	font-weight: 700;
	font-size: 0.8125rem;
	line-height: 1.5625rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}

@mixin text-input {
	font-family: Manrope-bold, sans-serif;
	font-weight: 700;
	font-size: 0.875rem;
	letter-spacing: 0.25px;
}

@mixin text-input--error {
	font-family: Manrope-Medium, sans-serif;
	font-weight: 500;
	font-size: 0.75rem;
	letter-spacing: 0.21px;
}

@mixin text-body {
	font-family: Manrope-Medium, sans-serif;
	font-weight: 500;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
	letter-spacing: 1px;
}

@mixin text-body--strong {
	font-family: Manrope-bold, sans-serif;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
	letter-spacing: 1px;
}

@mixin text-body--uppercase {
	font-family: Manrope-bold, sans-serif;
	font-weight: 700;
	font-size: 0.9375rem;
	line-height: 1.5625rem;
	letter-spacing: 1px;
	text-transform: uppercase;
}
