@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.container {
	@include grid-xs;
	padding-top: getSpacing(6);
	padding-bottom: getSpacing(6);
}

.heading {
	grid-column: 1 / -1;
	text-align: center;
	color: var(--color-black);
	margin-bottom: getSpacing(5);

	& > * {
		@include text-heading-s;
	}
}

.cards {
	@include flex-center(column);
	flex-wrap: nowrap;
	gap: getSpacing(6);
	grid-column: 1 / -1;
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

@include media("md") {
	.container {
		@include grid-md;
		padding-top: getSpacing(12);
		padding-bottom: getSpacing(12);
		justify-content: space-between;
	}

	.heading {
		margin-bottom: getSpacing(8);

		& > * {
			@include text-heading-l;
		}
	}

	.cards {
		flex-direction: row;
		gap: getSpacing(2);
	}
}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

@include media("lg") {
	.container {
		@include grid-lg;
		padding-top: getSpacing(15);
		padding-bottom: getSpacing(15);
	}

	.cards {
		gap: getSpacing(4);
	}
}
