@use "../../../styles/utils" as *;
@use "../../../styles/typography" as *;

.container {
	@include flex-center(column);
	align-items: flex-start;
	gap: getSpacing(1);
}

.container,
.input {
	width: 100%;
}

.input,
.name {
	@include text-input;
	color: var(--color-black);
}

.input {
	padding: getSpacing(2) getSpacing(3);
	border: 1px solid var(--color-gray-mid);
	border-radius: getRadius("s");
	caret-color: var(--color-orange);

	&::placeholder {
		@include text-input;
		opacity: 0.4;
	}

	&:hover {
		border: 1px solid var(--color-orange);
	}

	&:focus {
		border: 1px solid var(--color-orange);
		outline: none;
	}

	&.hasError {
		border: 2px solid var(--color-red);
	}
}

.label {
	@include flex-center(row);
	justify-content: space-between;
	flex-wrap: wrap;
	gap: getSpacing(1);
	width: 100%;
}

.name {
	&.hasError {
		color: var(--color-red);
	}
}

.error {
	@include text-input--error;
	color: var(--color-red);
	display: none;

	&.hasError {
		display: block;
	}
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {}
