@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.outer {
	&.openMenu,
	&.openCart {
		position: relative;
		top: 0;
		left: 0;
		z-index: 99999;
		width: 100%;
		height: 100%;

		&::before {
			content: "";
			position: fixed;
			inset: 0;
			width: 100%;
			height: 100%;
			background: var(--color-black);
			mix-blend-mode: normal;
			opacity: 0.4;
		}
	}
}

.header {
	position: relative;
	background: var(--color-black);
}

.navigation {
	@include grid-xs;
	padding: 0;
}

.container {
	@include flex-center(row);
	grid-column: 1 / -1;
	padding: getSpacing(4) $page__padding--xs;
}

.menu {
	margin-right: getSpacing(2);
}

.logo {
	position: relative;
	margin: 0 auto;
	min-width: 143px;
	min-height: 25px;
}

.logoImage {
	position: absolute;
	width: auto;
	height: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.desktopLinks {
	@include flex-center(row);
	gap: getSpacing(4);
	color: var(--color-white);
	display: none;
}

.desktopLink {
	@include text-label;
	transition: all 0.2s ease;

	&:hover {
		color: var(--color-orange);
	}
}

.mobileLinks {
	position: absolute;
	top: 89px;
	left: 0;
	width: 100%;
	z-index: 1;
	grid-column: 1 / -1;
	border-radius: 0 0 getRadius("s") getRadius("s");
	background-color: var(--color-white);
	display: none;

	&.openMenu {
		display: block;
	}
}

.cartIcon {
	position: relative;
	padding: 0;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	border: none;
	margin-left: getSpacing(2);
	background: transparent;
	cursor: pointer;
}

.svg {
	transition: all 0.2s ease;

	&:hover {
		filter: saturate(100%) invert(51%) sepia(70%) saturate(394%) hue-rotate(338deg) brightness(94%) contrast(95%);
	}
}

.cart {
	position: absolute;
	width: 100%;
	display: none;

	&.openCart {
		display: block;
	}
}

.badge {
	@include flex-center(column);
	@include text-label;
	position: absolute;
	top: -16px;
	right: -16px;
	height: 24px;
	width: 24px;
	padding: 2px;
	border-radius: 50%;
	color: var(--color-white);
	background: var(--color-orange);

	&:hover {
		filter: none;
	}
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

@include media("md") {
	.navigation {
		@include grid-md;
		padding: 0;
	}

	.container {
		padding: getSpacing(4) $page__padding--md;
	}

	.menu {
		margin-right: getSpacing(4);
	}

	.logo {
		margin: 0 auto 0 0;
	}
}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

@include media("lg") {
	.navigation {
		@include grid-lg;
		padding: 0;
	}

	.container {
		padding: getSpacing(4) $page__padding--lg;
	}

	.menu {
		display: none;
	}

	.desktopLinks {
		display: flex;
	}

	.mobileLinks {
		display: none;

		&.openMenu {
			display: none;
		}
	}

	.cartIcon {
		margin-left: auto;
	}
}
