@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.menu {
	@include flex-center(column);
	justify-content: space-between;
	position: relative;
	z-index: 9999;
	min-width: 24px;
	min-height: 24px;
	width: 24px;
	height: 24px;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;
}

.line {
	width: 100%;
	height: 3px;
	background: var(--color-white);
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-direction: alternate;
	transition: all 0.15s ease-in 0.15s;

	&.openMenu {
		&:first-child {
			animation-name: top;
		}

		&:last-child {
			animation-name: bottom;
		}
	}

	&.closeMenu {
		&:first-child {
			animation-name: top-reverse;
		}

		&:last-child {
			animation-name: bottom-reverse;
		}
	}

	&:nth-child(2) {
		align-self: flex-end;
		opacity: 1;

		&.openMenu {
			opacity: 0;
		}

		&.closeMenu {
			opacity: 1;
		}
	}
}

@keyframes top {
	0% {
		transform: rotate(0) translateY(0);
	}

	50% {
		transform: translateY(10.5px);
	}

	100% {
		transform: translateY(10.5px) rotate(-45deg);
	}
}

@keyframes bottom {
	0% {
		transform: rotate(0) translateY(0);
	}

	50% {
		transform: translateY(-10.5px);
	}

	100% {
		transform: translateY(-10.5px) rotate(45deg);
	}
}

@keyframes top-reverse {
	0% {
		transform: translateY(10.5px) rotate(-45deg);
	}

	50% {
		transform: translateY(10.5px);
	}

	100% {
		transform: rotate(0) translateY(0);
	}
}

@keyframes bottom-reverse {
	0% {
		transform: translateY(-10.5px) rotate(45deg);
	}

	50% {
		transform: translateY(-10.5px);
	}

	100% {
		transform: rotate(0) translateY(0);
	}
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {}
