@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.button {
	@include flex-center(row);
	@include text-label;
	gap: getSpacing(1.5);
	padding: getSpacing(2) getSpacing(4);
	border: 1px solid transparent;
	transition: all 0.2s ease;
}

.icon {
	transition: all 0.2s ease-out;
}

.primary {
	background: var(--color-orange);
	color: var(--color-white);

	&:hover {
		background: var(--color-orange-light);
	}
}

.secondary {
	background: var(--color-black);
	color: var(--color-white);

	&:hover {
		background: var(--color-gray-dark);
	}
}

.outline {
	color: var(--color-black);
	background: transparent;
	border: 1px solid var(--color-black);

	&:hover {
		color: var(--color-white);
		background: var(--color-black);
	}
}

.light {
	padding: getSpacing(1);
	background: transparent;
	border: none;
	color: var(--color-gray-dark);

	&:hover {
		color: var(--color-orange);

		.icon {
			transform: translateX(6px);
		}
	}
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {}
