@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

.container {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;
	width: 100%;
	cursor: pointer;
}

.button {
	@include text-label;
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: getSpacing(1.5);
	padding: 10px 32px;
	min-height: 48px;
	border: 1px solid transparent;
	transition: all 0.2s ease;
}

.icon {
	transition: all 0.2s ease-out;
}

.primary {
	background: var(--color-orange);
	color: var(--color-white);

	&:hover {
		background: var(--color-orange-light);
	}
}

.secondary {
	background: var(--color-black);
	color: var(--color-white);

	&:hover {
		background: var(--color-gray-dark);
	}
}

.outline {
	color: var(--color-black);
	background: transparent;
	border: 1px solid var(--color-black);

	&:hover {
		color: var(--color-white);
		background: var(--color-black);
	}
}

.light {
	padding: getSpacing(1);
	background: transparent;
	border: none;
	color: var(--color-gray-dark);

	&:hover {
		color: var(--color-orange);

		.icon {
			transform: translateX(6px);
		}
	}
}

.disabled {
	color: var(--color-white);
	background: var(--color-gray-dark);
	opacity: 0.5;
	cursor: not-allowed;

	&:hover {
		color: var(--color-white);
		background: var(--color-gray-dark);
	}
}

.fullWidth {
	width: 100%;
}

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {}
