@use "../../styles/utils" as *;
@use "../../styles/typography" as *;

// ------------------------------------------------------------
//  MD
// ------------------------------------------------------------

// @include media("md") {}

// ------------------------------------------------------------
//  LG
// ------------------------------------------------------------

// @include media("lg") {}
